%a.mcnButton{:href => confirmation_url(@resource, confirmation_token: @token), :style => "font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;", :target => "_blank", :title => "Confirm"} Confirm
