= render partial: 'shared/page_nav'
%table.table.table-striped.table-bordered
  %th
    Email
  %th
    List
  %th
    Status
  - @emails.each do |e|
    %tr
      %td
        = e['merges']['EMAIL']
      %td
        = e['list_name']
      %td
        = e['status']
