%a.mcnButton{:href => edit_password_url(@resource, reset_password_token: @token), :style => "font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;", :target => "_blank", :title => "Reset Password"} Reset Password
