.password-page.container
  .row
    .page-heading.col-sm-12.text-center
      %h2 Forgot Password?
  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    .row
      .col-sm-6.col-sm-offset-3
        = f.input :email, autofocus: true, label: "Email Address", placeholder: "yourname@yourschool.edu"
    .row
      .col-sm-12.text-center
        .actions
          = f.button :submit, "Reset Password", class: "btn btn-primary"
