/ All Main Content Here
.hackweek-page.container
  .col-xs-12.no-padding.no-margin
    #header.row
      .hero-line.col-xs-12
        %p.pre-hero Hackpoly Presents
        %h1 Hack Week
        %p.post-hero Prepare for Hackpoly 2015 by learning from the pros.
    #content.row
      #android.hack-session.col-xs-12.col-sm-6
        %h2 Android
        %p.date February 16th 6PM - 8PM
        %p.location Cal Poly Pomona
        %p.description Come learn the basics of making Android apps. Bring your laptop and run your first app in 2 hours.
        %br/
        %a.btn.btn-default{:href => "https://hackweekandroid.eventbrite.com", target: "_blank"} Register Now
      #git.hack-session.col-xs-12.col-sm-6
        %h2 Git
        %p.date February 17th 6PM - 8PM
        %p.location Cal Poly Pomona
        %p.description Version Control (such as Git) can offer powerful capabilities to teams of software developers. However, without enough experience, things can quickly go awry. Learn how to take full advantage of Git.
        %br/
        %a.btn.btn-default{:href => "https://hackweekgit.eventbrite.com", target: "_blank"} Register Now
      #web.hack-session.col-xs-12.col-sm-6
        %h2 Web Backend
        %p.date February 18th 6PM - 8PM
        %p.location Cal Poly Pomona
        %p.description Most websites are more than just simple HTML. Come learn to build a powerful backend running on a server and using a database.
        %br/
        %a.btn.btn-default{:href => "http://hackweekwebbackend.eventbrite.com", target: "_blank"} Register Now
      #design.hack-session.col-xs-12.col-sm-6
        %h2 UI/UX & Design
        %p.date February 19th 6PM
        %p.location Cal Poly Pomona
        %p.description Come learn the basics of creating a great user experience through design.
        %br/
        %a.btn.btn-default{:href => "http://hackweekdesign.eventbrite.com", target: "_blank"} Register Now
