%h2 Login
= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field
    = f.input :email, autofocus: true, label: "Email Address", placeholder: "yourname@yourschool.edu"
  .field
    = f.input :password, as: :password, label: "Password"
  -#- if devise_mapping.rememberable?
    -#.field
      -#= f.check_box :remember_me
      -#= f.label :remember_me
  .actions
    = f.button :submit, "Login"
