 /*Bootstrap overrides*/
/*.form-control {*/
  /*-webkit-box-shadow: none !important;*/
  /*-moz-box-shadow: none !important;*/
  /*box-shadow: none !important;*/
  /*-webkit-border-radius: 3px;*/
  /*-moz-border-radius: 3px;*/
  /*-o-border-radius: 3px;*/
  /*border-radius: 3px;*/
/*}*/
label, input, textarea, select, .btn {
  font-family: 'Raleway';
  font-weight: 600;
}
textarea {
  margin-top: 5px;
  resize: none;
}

/*// common styles*/
hr {
  color: #CCC;
}
.s25 {
  margin-bottom: 25px;
}
.s15 {
  margin-bottom: 15px;
}
.s10 {
  margin-bottom: 10px;
}
